.slider-bar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.value-container {
    margin-bottom: 25px;
}

#demo {
    color: rbg(143, 134, 180);
    font-size: 150px;
}

.slider {
    width: 60%;
    background: linear-gradient(to right, #6b8dff, #ff2a5f, #fff);
    height: 20px;
    transition: background 450ms ease-in;
    -webkit-transition: none;
    border-radius: 25px;
    box-shadow: 2px 8px 13px -3px rgba(16, 114, 114, 0.75);
    -webkit-box-shadow: 2px 8px 13px -3px rgba(16, 114, 114, 0.75);
    -moz-box-shadow: 2px 8px 13px -3px rgba(16, 114, 114, 0.75);
}

.slider::-webkit-slider-thumb{
    cursor: pointer;
    appearance: none;
    height: 35px;
    width: 35px;
    background-color: red;
}