/* src/pages/treino/diagnose/primeira.module.css */

.background {
  /*background-image: url("/images/webp/people-login.webp");*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: initial;
  width: 100vw; /* 100% da largura da viewport */
  height: 100vh; /* 100% da altura da viewport */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0; /* Remove margens */
  padding: 0; /* Remove padding */
  box-sizing: border-box; /* Inclui padding e border no cálculo do tamanho */
}

.content {
  background: rgba(255, 255, 255, 0.84); /* Fundo semitransparente para melhor legibilidade */
  padding: 20px;
  border-radius: 8px;
  max-width: 600px; /* Ajuste conforme necessário */
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: adiciona uma sombra para destaque */
}
